.box{
    display: grid;
	grid-template-columns: 300px 300px 300px;
    grid-template-rows: 340px 175px 505px auto;
    gap: 10px;
    background-color: #8496f0;
    border: 2px solid #636fad;
    padding: 10px;
    margin: 20px auto;
	max-width: 922px;
}

.box2{
    display: grid;
	grid-template-columns: 300px 300px 300px;
    grid-template-rows: 200px 200px 200px auto;
    gap: 10px;
    background-color: #8496f0;
    border: 2px solid #636fad;
    padding: 10px;
    margin: 20px auto;
	max-width: 922px;
}

.box3{
    display: grid;
	grid-template-columns: 300px 300px 300px;
    grid-template-rows: 200px 200px 200px auto;
    gap: 10px;
    background-color: #8496f0;
    border: 2px solid #636fad;
    padding: 10px;
    margin: 20px auto;
	max-width: 922px;
}

.box > div {
    background: white;
    border: 1px solid #ffffff;
}

.box2 > div {
    background: white;
    border: 1px solid #ffffff;
}

.box3 > div {
    background: white;
    border: 1px solid #ffffff;
}

                
ul {
  	list-style-type: none;
 	margin: 0;
	padding: 0;
  	overflow: hidden;
  	background-color: #b3cfff;
}

ul li {
  	float: left;
}

ul li a {
  	display: block;
  	color: rgb(40, 51, 91);
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
			}
            
ul li a:hover {
  	background-color: rgb(40, 51, 91);
     color: white;
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 3;
}
            
.item2 { 
    grid-column-start: 2;
    grid-column-end: 4;
}
            
.text1 {
	padding: 10px;
    text-align: left;
    margin: 0 0 5px;
    font-family: Arial, sans-serif;
    font-size: 18px;
}
            
.text2 {
    text-align: center;
}


        